## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Rider / JetBrains
.idea/

## Installer publish output
installer/publish/

## OS files
Thumbs.db
.DS_Store
